/* General */
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "raleway", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
main {
  margin: 20px;
}
a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

#navigation ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin: 0;
}

nav {
  display: flex;
  width: 40%;
}

nav ul li {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}

.inscription {
  align-items: center;
  display: flex;
}

.inscription a {
  color: #0065fc;
}
#hebergements a {
  color: #0065fc;
  border-top: 2px solid #0065f2;
  padding-top: 2em;
  width: 13em;
  padding-left: 3.5em;
}

/* LOGO */
.logo {
  margin-left: 1%;
}
/* titres */
.titres {
  display: flex;
  flex-direction: column;
}

.titre-1 {
  font-size: 21px;
  margin-top: 50px;
}
.titre-2 {
  font-size: 15px;
  margin-top: 1em;
}
.titre-3 {
  margin: 24px 50px;
}
.titre-4 a {
  background-color: #f2f2f2;
  padding-left: 6%;
}
/* bouton search */
form {
  display: flex;
}
.map-marker {
  width: 4%;
  height: 3em;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}
#map-marker {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.champ-city {
  width: auto;
  font-weight: bold;
  padding-left: 1%;
  border: 2px solid #f2f2f2f2;
}
#loupe {
  display: none;
}
.champ-search {
  width: 7em;

  background-color: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;
  border: 2px solid #0a65ec;
}
/*-------------filtres-------------------*/
#filtres {
  display: flex;
}
#filtres h5 {
  display: flex;
  align-items: center;
  font-size: inherit;
}
.f {
  display: flex;

  align-items: center;

  height: 40px;
  border-radius: 20px 20px 20px 20px;
  margin-left: 25px;
  margin-top: 15px;

  border: 2px solid #f2f2f2;
}
.f a {
  padding: 22px;
  opacity: 1;
  cursor: pointer;
}

.survol:hover {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  background-color: #0065fc;
  color: white;
}


.icone i {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #0065fc;
  font-size: x-small;
  width: 29px;
  background-color: #deebff;
  border-radius: 14px;
  padding: 5px;
  transform: scale(1.3, 1.8);
  height: 20px;
  display: flex;
  align-items: center;
}
.align-responsive {
  display: flex;
}

/* info */
#point-info {
  display: flex;
  margin-bottom: auto;
  margin-left: 5%;
  width: 80%;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  font-size: 10px;
}
#info-A {
  color: #0065fc;
  border-radius: 100%;
  border: 1px #cac7c7 solid;
  padding: 7px;
  display: flex;
  justify-content: center;
}

/* hotels + HEBERGEMENTS */
#hotels {
  display: flex;
  margin: 1% 0% 1% 0%;
}
/* hebergements */
.six-images {
  display: flex;
  flex-wrap: wrap;
}
.six-images img {
  height: 110px;
  width: 100%;
  border-radius: 22px 22px 0 0;
  object-fit: cover;
}
.section-A h3 {
  margin-left: 6%;
}

.section-A {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex: 2.5;
  margin: 0px 50px 0 0;
  border-radius: 20px;
}
.six-images a {
  width: 26%;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.afficher-plus {
  margin-left: 50px;
  font-weight: bold;
  font-size: x-large;
}
.etoile {
  font-size: x-small;
  margin-top: -7px;
}

/*populaires*/
.align {
  display: flex;
  justify-content: space-around;
}
.align i {
  padding-top: 8%;
}
.chart-line fas {
  padding-left: 0%;
}
.trois-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48em;
}
.trois-images img {
  width: 37%;
  border-radius: 22px 0 0 22px;
  object-fit: cover;
}

.etoile-active {
  color: #0065fc;
}
.etoile-inactive {
  color: #a8a7a7;
}
.section-B {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex: 1;

  border-radius: 20px;
}
.section-B a {
  display: flex;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  height: 140px;
  padding: 5px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.description-hotel {
  padding: 11px;
}
.description-hotel h5 {
  font-size: 15px;
  margin: 0;
}
.description-hotel p {
  font-size: small;
}
.image-7 {
  margin: -13px -1px 0px 0px;
}
.etoile-2 {
  font-size: x-small;
  padding-top: 34px;
}
/* activites */
.section-C {
  margin: 1px -45px 1px 1px;
}
.section-C img {
  width: 90%;
  border-radius: 20px 20px 0 0;
}
#images-activites {
  display: flex;
  justify-content: space-evenly;
}
.vieux-port {
  background-color: white;
  margin-right: 14%;
  padding-bottom: 4%;
  border-radius: 22px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.vieux-port img {
  height: 34.5em;
  object-fit: cover;
  width: 100%;
}
.vieux-port p {
  padding-left: 4%;
  font-weight: bold;
}
.fort-pom {
  background-color: white;
  margin-right: 14%;
  padding-bottom: 4%;
  border-radius: 22px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.fort-pom img {
  height: 15em;
  object-fit: cover;
  width: 100%;
}
.fort-pom p {
  padding-left: 4%;
  font-weight: bold;
}
.frioul {
  background-color: white;
  margin-right: 14%;
  margin-top: 7%;
  padding-bottom: 4%;
  border-radius: 22px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.frioul img {
  height: 14em;
  object-fit: cover;
  width: 100%;
}
.frioul p {
  padding-left: 4%;
  font-weight: bold;
}
.calanques {
  background-color: white;
  margin-right: 14%;
  padding-bottom: 4%;
  border-radius: 22px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.calanques img {
  height: 34.5em;
  object-fit: cover;
  width: 100%;
}
.calanques p {
  padding-left: 4%;
  font-weight: bold;
}
.longchamp {
  background-color: white;
  margin-right: 14%;
  margin-top: 7%;
  padding-bottom: 4%;
  border-radius: 22px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.longchamp img {
  height: 15em;
  object-fit: cover;
  width: 100%;
}
.longchamp p {
  padding-left: 4%;
  font-weight: bold;
}
.la-garde {
  background-color: white;
  margin-right: 14%;
  padding-bottom: 4%;
  border-radius: 22px;
  box-shadow: 2px 10px 25px 0px #b9b4b4;
}
.la-garde img {
  height: 14em;
  object-fit: cover;
  width: 100%;
}
.la-garde p {
  padding-left: 4%;
  font-weight: bold;
}

#picture-1,
#colonne-1,
#picture-2,
#colonne-2 {
  width: 25%;
}
/*--------FOOTER--------------------------------*/
.all-footer {
  margin: 4% 0;
  display: flex;
}
.footer-1 a {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 0;
}
.footer-2 a {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 0;
}
.footer-3 a {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 0;
}

.heberger {
  margin-left: 25%;
}
.assistance {
  margin-left: 22%;
}
/*      MEDIA QUERIES                             */


@media screen  and (max-width: 764px) {
  main {
    margin: 0;
  }
  /* HEADER   -------------------------------------------------------*/
  header {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  nav ul li {
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
  }
  #navigation ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #navigation .activites li {
    width: 50%;
  }
  #hebergements a {
    color: #0065fc;
    border-bottom: 2px solid #0065f2;
    border-top: none;
    padding: 0.5em 5em 0.5em 8em;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .inscription a {
    color: #0065fc;
    font-weight: bold;
    margin: 0 0 1em 15em;
    position: absolute;
    top: 18px;
    right: 27px;
  }
  #activites a {
    color: black;
    border-bottom: 2px solid #e3d9d9;
    padding: 5% 0% 5% 26%;
  }
  .position-responsive {
    margin-top: 5%;
    width: 50%;
  }
  /* titres -------------------------------------*/
  .titres {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }
  .titre-2 {
    font-size: 14.8px;
    margin-top: 2%;
    font-weight: lighter;
  }
  .titre-3 {
    width: max-content;
    margin: -5px 0 35px 19px;
    font-size: larger;
  }

  /* search ------------------------------------------*/
  .map-marker {
    width: 4%;
    height: 3em;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
  }
  .champ-city {
    width: 64%;
    font-weight: bold;
    padding-left: 1%;
    border: 2px solid #f2f2f2f2;
  }

  .map-marker {
    height: 3em;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    min-width: 17%;
  }
  .champ-search {
    display: none;
  }
  form {
    display: flex;
    margin: 8px;
  }
  #loupe {
    display: flex;
    align-items: center;
    background-color: #0065fc;
    width: 17%;
    border-radius: 0 9px 9px 0;
    justify-content: center;
    color: white;
  }
  /* filtres ------------------------------*/
  #filtres {
    display: block;
    width: auto;
    flex-wrap: wrap;
    margin-top: 3%;
  }
  .align-responsive {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5em;
  }
  .survol:hover {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    background-color: #0065fc;
    color: white;
  }
  /* INFO -------------------------------------*/
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    font-size: 10px;
    margin-top: -11px;
  }
  #info-A {
    color: #0065fc;
    font-size: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 18%;
  }
  #point-info {
    display: flex;
    width: 80%;
    margin: 7% 0 5% 5%;
  }
  .info-B p {
    font-size: small;
  }

  #filtres h5 {
    font-size: inherit;
    margin: 5% 0 0 5%;
  }
  /* HEBERGEMENT + POPULAIRE = hotels------------------------*/
  #hotels {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  /*hebergements------------------------------------------------*/

  .six-images {
    display: flex;
  }
  .six-images a {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 10px 25px 0px #b9b4b4;
    margin: 5% 2% 5% 5%;
  }

  .section-A {
    background-color: white;
    margin: 0 2% 0 auto;
  }

  .afficher-plus {
    font-weight: bold;
    margin: 0 0 14% 6%;
    font-size: initial;
  }
  /* populaires-----------------------------------------------------*/
  .section-B {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    width: auto;
    box-shadow: 2px 10px 25px 0px #f2f2f2;
  }
  .section-B a {
    display: flex;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    height: 140px;
    padding: 5px;
    box-shadow: none;
  }
  .etoile-2 {
    font-size: x-small;
    padding-top: 26px;
  }
  .trois-images {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 34em;
  }
  /* activités -------------------------------------------------------*/
  #images-activites {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  #images-activites p {
    font-weight: bold;
    margin-left: 5%;
  }
  #activite {
    display: flex;
    flex-direction: column;
    margin: 0 27px 18px 0;
  }

  .section-C a {
    width: 100%;
  }
  .section-C img {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  #picture-1,
  #colonne-1,
  #picture-2,
  #colonne-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
  }
  .vieux-port,
  .fort-pom,
  .frioul,
  .calanques,
  .longchamp,
  .la-garde {
    background-color: rgb(248, 246, 246);
    border-radius: 20px;
    box-shadow: 2px 6px 15px -2px #7c7a7a;
    margin: 1% 0 6% auto;
  }

  .vieux-port img,
  .fort-pom img,
  .frioul img,
  .calanques img,
  .longchamp img,
  .la-garde img {
    height: 10em;
    object-fit: cover;
  }

  /* ------------footer--------*/

  .all-footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin: 0;
  }
  .footer-1 a {
    display: flex;
    flex-direction: column;
    margin: 0 0 6px 0;
  }
  .footer-2 a {
    display: flex;
    flex-direction: column;
    margin: 0 0 6px 0;
  }
  .footer-3 a {
    display: flex;
    flex-direction: column;
    margin: 0 0 6px 0;
  }
  .a-propos,
  .assistance,
  .heberger {
    margin-left: 1%;
  }
}
@media screen and (min-width: 765px) and (max-width: 991px) {
  /*--------------NAVIGAYION---------------*/
  nav {
    display: flex;
    width: 65%;
  }

  /*-----------------FILTRES--------*/
  .f a {
    padding: 17px;
  }
  /*------------point-info----------------*/
  #point-info {
    display: flex;
    margin-bottom: auto;
    margin-left: 0;
    width: 80%;
  }
  /*-----------------hebergements-------------*/
  .six-images a {
    width: 33%;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .afficher-plus {
    margin: 5% 12%;
    font-weight: bold;
    font-size: larger;
  }
  /*-----------------populaires-----------*/
  .section-B a {
    display: flex;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
    flex-direction: column;
    height: 16em;
  }
  .trois-images {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 56em;
  }
  .trois-images img {
    width: 100%;
    border-radius: 22px 22px 0 0;
    object-fit: cover;
    height: 126px;
  }
  .etoile-2 {
    font-size: x-small;
    margin-top: -25px;
  }
  .description-hotel h5 {
    font-size: 14px;
    margin: 0;
  }
  .lespluspopulaires {
    margin: 3% 0 3% 16%;
  }
  .align i {
    padding: 9%;
  }
  .image-7 p {
    font-size: 75%;
  }
  .image-9 p {
    font-size: 75%;
  }
  /*--------------ACTIVITES---------*/
  #activite {
    margin: 0 -23px 0 0;
  }
  .frioul img {
    height: 15em;
    object-fit: cover;
    width: 100%;
  }
  .calanques img {
    height: 33.5em;
    object-fit: cover;
    width: 100%;
  }
  /*---------------------footer------------------*/
  .footer-1 a,
  .footer-2 a,
  .footer-3 a {
    display: flex;
    flex-direction: column;
    margin: 5px 0 16px 0;
  }
  .heberger h4 {
    margin-right: -19px;
  }
  .assistance {
    margin-left: 1%;
  }
  .heberger {
    margin-left: 17%;
  }
  .a-propos{
    margin: 0;
  }
  .all-footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background-color: #f2f2f2;
  }
}
@media screen and (min-width: 992px) {
  /*----------navigation----------*/
  nav {
    display: flex;
    width: 51%;
  }
  /*------------point-info------*/
  #point-info {
    display: flex;
    margin-bottom: auto;
    margin-left: 0;
  }
  /*------------hebergements----------*/
  .six-images {
    display: flex;
    flex-wrap: wrap;
  }
  .six-images a {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 17em;
    width: 39%;
  }
  .six-images img {
    height: 11em;
    border-radius: 22px 22px 0 0;
    object-fit: cover;
  }
  .afficher-plus {
    margin: -1% 0 3% 4%;
    font-weight: bold;
    font-size: larger;
  }
  /*------------populaires------------*/
  .section-B a {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 18em;
  }
  .trois-images img {
    width: 100%;
    border-radius: 22px 22px 0 0px;
    object-fit: cover;
    height: 10em;
  }
  .etoile-2 {
    font-size: x-small;
    margin-top: -42px;
  }
  .description-hotel p {
    font-size: small;
    margin-top: 1%;
  }
  /*-------------ACTIVITES------------*/
  .longchamp img {
    height: 16em;
    object-fit: cover;
    width: 100%;
  }
  .calanques p {
    padding-left: 4%;
    font-weight: bold;
  }
  .frioul img {
    height: 12em;
    object-fit: cover;
    width: 100%;
  }
  .fort-pom img {
    height: 18em;
    object-fit: cover;
    width: 100%;
  }
  .section-C p {
    font-size: small;
  }
  /*--------------FOOTER-------------*/
  .all-footer {
    display: flex;
    background-color: #f2f2f2;
    margin: 4% 0 0 0;
}
  .a-propos {
    margin-left: 1%;
  }
  .footer-1 a {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}
.footer-2 a{
  margin: 0 0 10px 0;

}
.footer-3 a{
  margin: 0 0 10px 0;
}
@media screen and (min-width: 1280px) {
  /*------------POINT-INFO----------*/
  #point-info {
    display: flex;
    margin-bottom: auto;
    margin-left: 0%;
    width: 80%;
  }
  /*------------activites----------*/
  .frioul img {
    height: 11.5em;
    object-fit: cover;
    width: 100%;
  }
  .longchamp img {
    height: 15.5em;
    object-fit: cover;
    width: 100%;
  }
  .six-images a {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 17em;
    width: 41%;
  }
  /*--------------footer---------------*/
  .all-footer {
    margin: 4% 0 0 0%;
    display: flex;
    background-color: #f2f2f2;
  }
  .a-propos {
    margin-left: 1%;
  }
}
@media screen and (min-width: 1440px) {
  /*------------activites----------*/
  .longchamp img {
    height: 15em;
    object-fit: cover;
    width: 100%;
  }
  .frioul img {
    height: 11em;
    object-fit: cover;
    width: 100%;
  }
}
@media screen and (min-width: 1920px) {
  /*----------point-info-----------*/
  #point-info {
    display: flex;
    margin-bottom: auto;
    margin-left: 0%;
    width: 80%;
  }
  /*-------------hebergements + Populaires------*/
  #hotels {
    display: flex;
    margin: 1% 2% 1% 0%;
  }
  .six-images a {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 17em;
    width: 44%;
  }
  /*------------activites--------------*/
  .frioul img {
    height: 10.5em;
    object-fit: cover;
    width: 100%;
  }
  .longchamp img {
    height: 14.5em;
    object-fit: cover;
    width: 100%;
  }

  .section-C {
    margin: 1px -32px 1px 1px;
  }

  /*---------------footer-------------*/
  .all-footer {
    margin: 4% 0 0 0%;
    display: flex;
    background-color: #f2f2f2;
  }
  .a-propos {
    margin-left: 1%;
  }
}
}