/* General */

body {
  font-family: "raleway", sans-serif;
  margin: 0%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* Header*/

/* Header line 1 Logo & Link*/
/* revoir */
ul {
  /*margin-top: -3%;*/
}


header {
  display: flex;
  justify-content: space-between;
}
#header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav {
  width: 30%;
}

nav ul {
 padding: 10px;
}

#header a {
  /*text-decoration: none;
  padding-top: 36%;
  width: 131%;
  display: inline-block;
  padding-left: 42%;*/
}
.inscription {
  margin-right: 16%;
}
.inscription a {
  color: #0065fc;
}
.hebergement a {
  color: #0065fc;
  border-top: 2px solid #0065f2;

}
.logo {
  width: 8%;
  margin-left: 3.1%;
  padding-top: 3%;
}

/* champ recherche */
form {
  margin-top: 19px;
  display: flex;
  align-items: flex-start;
  margin-left: 3.4em;
}

.map-marker {
  width: 4%;
  height: 48px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}


.champ-city {
  width: 16%;
  height: 42px;
  font-weight: bold;
  padding-left: 1%;
  border: 2px solid #f2f2f2f2;
}

.champ-search {
  width: 134px;
  height: 48px;
  font-size: 1em;
  background-color: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;
  border: 2px solid #f2f2f2;
  margin-left: -2px;
  margin-top: -2px;
}
.search-height {
  height: 100%;
}
.fa,
.fas {
  font-weight: 900;
}
#loupe {
  display: none;
}
/* Header line 5 Filters */
#filtres {
  width: 70%;
  display: flex;
  margin-left: 3.4em;
  margin-top: 1%;
}
#filtres h5 {
  padding-top: 0px;
  width: 5%;
  font-size: 120%;
}
.icone a {
  width: 13%;
}
#economique {
  width: 42%;
}
#familial {
  width: 35%;
}
#romantique {
  width: 34%;
}
#animaux {
  width: 46%;
}
.f {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 34%;
  height: 51px;
  border-radius: 20px 20px 20px 20px;
  margin-left: 25px;
  margin-top: 15px;
  padding: 0 15px 0 0;
  border: 2px solid #f2f2f2;
}

.f a {
  padding-left: 20px;
  font-weight: bold;
  padding-top: 1%;
  text-decoration: none;
  color: black;
}

.icone {
  width: 20px;
  background-color: #deebff;
  border-radius: 20px;
  padding: 9px;
  transform: scale(1.5, 1.5);
}
.icone a {
  font-weight: bold;
}
.icone i {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #0065fc;
}
.align-responsive {
  display: flex;
}
.capsule {
  display: flex;
}
/* Header line 6 Point-info */
#point-info {
  display: flex;
  margin-left: 3.4em;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.info {
  width: 22px;
  height: 17px;
  margin-top: 15px;
  padding-top: 5px;
  border-radius: 15px;
  border: 1px gray solid;
}

#info-A {
  color: #0065fc;
  font-size: 12px;
  position: relative;
  left: 9px;
  bottom: 5px;
}

.info-B {
  margin-top: 2px;
  margin-left: 12px;
}

/* Section 1 Hotels - Populaires */
#chart {
  margin-left: 127px;
}

#hotels,
#activites {
  padding-left: 50px;
  padding-right: 50px;
}

.etoile-active {
  color: #0065fc;
  margin: 5px 0 0 0;
}

.etoile-inactive {
  color: #f2f2f2;
  margin: 5px 0 0 0;
}
.euro {
  font-weight: bold;
  margin-left: 80%;
  margin-top: -21%;
  font-size: smaller;
}
/* Section 1 Hotels */
#hotels {
  display: flex;
  justify-content: space-between;
 
}
.marcus {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
#hotel-du-port {
  background-color: #f2f2f2;
  height: 100%;
}
.section-A {
  border-radius: 20px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 25px;
  width: 60%;
  background-color: #f2f2f2;
}
.etoile-A,
.etoile-B,
.etoile-C,
.etoile-D,
.etoile-E {
  padding-left: 5%;
}
.etoile-F {
  padding-left: 5%;
}
.six-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5em;
}

.six-images a {
  width: 30%;
  height: 250px;
  box-shadow: 2px 2px 12px 2px #9b9898f2;
  border-radius: 16px;
  margin-bottom: 40px;
  padding: 3px;
  background-color: white;
}

.six-images img {
  border-radius: 15px 15px 0 0;
  width: 98%;
  height: 155px;
  padding-top: 4px;
  padding-left: 4px;
}

.six-images h5 {
  margin: 5px 0;
  padding-left: 15px;
  font-size: medium;
}

.six-images p {
  margin: 8px 0;
  padding-left: 15px;
}

.titre-bas h3 {
  margin-top: 3%;
}
.titre-1 {
  font-size: 130%;
  font-weight: bold;
  margin-top: 3%;
  margin-left: 2.4em;
}
.titre-2 {
  font-size: 107%;
  margin-left: 3.1em;
}
.titre-3 {
  font-size: 148%;
  font-weight: bold;
  margin-top: 3%;
  margin-left: 0.1em;
}
/* Section 1 Populaires */

.lespluspopulaires {
  display: flex;
  white-space: nowrap;
}
.responsive {
  display: flex;
}
.etoile-G,
.etoile-H,
.etoile-I {
  padding-top: 26%;
  font-size: 100%;
}
.section-B {
  border-radius: 20px;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 1%;
  width: 26%;
  background-color: #f2f2f2;
}
.alignement-haut {
  margin-top: 10%;
}
.chart-line {
  padding-top: 6%;
  margin-left: 32%;
  font-size: 152%;
}
.description-hotel h5 {
  font-size: medium;
}
.description-hotel p {
  margin-top: 5%;
}
.trois-images > div {
  border: 2px solid aliceblue;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 12px 2px #9b9898f2;
}

.trois-images {
  display: flex;
  flex-direction: column;
  padding-top: 1.1em;
}

.trois-images img {
  border-radius: 15px 0 0 15px;
  max-height: 97%;
  width: 47%;
  height: 175px;
  padding: 5px;
}

.image-7 {
  display: flex;
}
.image-7 p {
  margin-top: -11%;
}
.image-7 .description-hotel {
  padding-left: 6%;
}
.image-8 {
  display: flex;
  margin-top: 47px;
}
.image-8 p {
  margin-top: -11%;
}
.image-8 .description-hotel {
  padding-left: 6%;
}
.image-9 {
  display: flex;
  margin-top: 47px;
}
.image-9 p {
  margin-top: -11%;
}
.image-9 .description-hotel {
  padding-left: 6%;
}
.align {
  display: flex;
  justify-content: space-between;
}
.align i {
  margin-right: 100%;
}
/*.description-hotel p
{
	margin-top: 5%;
}*/
/* Troisième bloc: Activités à Marseille */
#images-activites {
  display: flex;
  justify-content: space-between;
}

#activites {
  padding-top: 2%;
  padding-left: 3.5%;
}
#activites div {
  box-shadow: 2px 2px 12px 2px #9b9898f2;
}
#images-activites img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  object-fit: cover;
  display: flex;
}

#images-activites p {
  font-weight: bold;
  padding-left: 5%;
}

.image-1,
.image-4 {
  width: 85%;
  box-shadow: 10px 5px 5px silver;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.image-2,
.image-3 {
  width: 85%;
  box-shadow: 5px 5px 5px 5px silver;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.image-5,
.image-6 {
  width: 85%;
  box-shadow: 10px 5px 5px silver;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.image-1,
.image-4 {
  height: 450px;
}

.image-4 img {
  height: 400px;
}

.image-1 img {
  height: 400px;
}

.image-2 img {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.image-2 {
  height: 200px;
}

.image-3 img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.image-3 {
  height: 150px;
}
#image-1 {
  width: 55%;
}
#image-4 {
  width: 55%;
}
#colonne-1 {
  width: 55%;
}
#colonne-2 {
  width: 55%;
  margin-right: -54px;
}
#colonne-1 .image-2 {
  height: 250px;
}
#colonne-1 .image-3 {
  margin-top: 50px;
}
.image-5 {
  height: 200px;
  object-fit: cover;
}
.image-6 {
  height: 200px;
}
.image-5 img {
  height: 150px;
  object-fit: cover;
}
.image-6 img {
  height: 150px;
  object-fit: cover;
  margin-top: 50px;
}
/*  footer */
footer {
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
  margin-top: 5%;
}
.footer-1 {
  display: flex;
  flex-direction: column;
}
.footer-1 a {
  margin-top: 8%;
}
.heberger {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
.heberger a {
  display: flex;
  margin-top: 8%;
}
.assistance {
  display: flex;
  flex-direction: column;
  margin-left: 22%;
}
.assistance a {
  display: flex;
  margin-top: 8%;
}
.a-propos {
  margin-left: 4%;
  margin-bottom: 4%;
}

/*       MEDIA QUERIES                                */
@media screen and (min-width: 375px) and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 23px;
    font-weight: bold;
    margin-top: -45%;
    margin-right: 5%;
  }
  /*header*/
  header {
    padding-left: 0%;
  }
  #header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: -11%;
  }
  #header a {
    text-decoration: none;
    padding-top: 60%;
    width: 131%;
    display: inline-block;
    padding-left: 42%;
  }
  #header .actes {
    width: 239%;
    margin-left: 69%;
    margin-top: 38%;
  }
  #header .inscrire {
    margin-top: -61%;
  }
  li {
    list-style-type: none;
  }

  .logo {
    width: 26%;
    margin-left: 7.1%;
    padding-top: 3%;
  }
  #header .logo {
    margin-top: 100%;
  }
  .hebergement a {
    color: #0065fc;
    border-top: none;
    border-bottom: 2px solid #0065f2;
    margin-top: -5%;
  }
  .actes {
    margin-left: 105%;
    margin-top: 17%;
    border-bottom: 2px solid #e8e0e0;
  }

  .inscrire {
    margin-top: -35%;
  }
  .align-content {
    padding-left: 3%;
  }
  .titre-1 {
    font-size: 130%;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 1.4em;
  }
  .titre-2 {
    font-size: 98%;
    margin-left: 1.8em;
  }
  /*  bouton search */
  form {
    margin-top: 19px;
    display: flex;
    width: 90em;
    align-items: flex-start;
    margin-left: 1.7em;
  }
  .fa,
  .fas {
    font-weight: 900;
    display: flex;
  }

  #loupe {
    display: flex;
    background-color: #0065f2;
    margin-top: 0%;
    width: 3%;
    height: 48px;
    color: aliceblue;
    align-items: center;
    margin-left: -1%;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
  }
  .champ-search {
    display: none;
  }
  /* filtres*/
  #filtres {
    width: 0%;
    display: flex;
    padding-left: 11px;
    margin-top: 1%;
    flex-wrap: wrap;
  }
  .titre-filtre {
    margin-bottom: -2.3em;
    margin-left: -2.2em;
  }
  .align-responsive {
    display: flex;
    width: 16em;
    margin-left: -2.4em;
  }
  .capsule {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2.4em;
  }
  .f {
    margin-left: 5px;
  }
  #economique {
    width: 61%;
  }
  #familial {
    width: 42%;
    margin-left: 4%;
  }
  #romantique a {
    width: 60%;
  }

  .capsule #romantique {
    width: 65%;
  }
  #animaux {
    width: 13em;
  }
  #point-info {
    display: flex;
    margin-left: 1.9em;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  #info-A {
    color: #0065fc;
    font-size: 12px;
    position: relative;
    left: 6px;
    bottom: 5px;
  }
  .align i {
    margin-right: 4%;
  }
  .chart-line {
    padding-top: 3%;
    margin-left: 21%;
    font-size: 152%;
  }

  /* hebergements + populaire */
  #hotels {
    display: flex;
    height: 0%;
    flex-direction: column-reverse;
    margin-left: -18%;
    border-radius: none;
  }

  /* HEBERGEMENTS*/
  .six-images a {
    width: 30%;
    height: 100%;
    box-shadow: 2px 2px 12px 2px #9b9898f2;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 3px;
    background-color: white;
  }

  /* populaires*/

  .trois-images {
    display: flex;
    flex-direction: column;
    padding-top: 1.1em;
    width: 93%;
    padding-left: 3%;
  }
  .trois-images > div {
    border: 2px solid aliceblue;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 12px 2px #9b9898f2;
    width: 100%;
    height: 10em;
  }
  .section-B {
    width: 100%;
    background-color: #f2f2f2;
  }

  .lespluspopulaires {
    display: flex;
    white-space: nowrap;
    margin-left: 3%;
  }
  .image-9 {
    display: flex;
    margin-top: 47px;
    margin-bottom: 14%;
  }
  .align i {
    margin-right: 4%;
    margin-top: 4%;
  }
  .image-7 p {
    font-size: 89%;
    margin-top: -14%;
  }
  .image-7 h5 {
    font-size: 100%;
  }
  .image-8 h5 {
    font-size: 100%;
    margin-top: 14%;
  }
  .image-8 p {
    margin-top: -14%;
    font-size: 86%;
  }
  .image-9 h5 {
    font-size: 100%;
    margin-top: 14%;
  }
  .image-9 p {
    margin-top: -14%;
    font-size: 80%;
  }

  .trois-images img {
    border-radius: 15px 0 0 15px;
    max-height: 97%;
    width: 44%;
    height: 94%;
    padding: 5px;
  }
  .euro {
    font-weight: bold;
    margin-left: 80%;
    margin-top: -21%;
    font-size: smaller;
  }
  .etoile-G,
  .etoile-H,
  .etoile-I {
    padding-top: 20%;
    font-size: 100%;
  }
  /* HEBERGEMENTS */
  .section-A {
    width: 100%;
    margin-top: 10%;
    background-color: white;
  }
  .six-images {
    display: flex;
    padding-top: 0.5em;
    flex-direction: column;
  }
  .six-images a {
    width: 98%;
    height: 100%;
    box-shadow: 2px 2px 12px 2px #9b9898f2;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 0px;
    background-color: white;
  }
  /* activités */
  #images-activites {
    display: flex;
    flex-direction: column;
    width: 46em;
  }
  #images-activites image {
    height: 100%;
  }
  .image-1 {
    margin-bottom: 10%;
  }
  .image-1 img {
    height: 9em;
  }
  .image-4 img {
    height: 9em;
  }
  .image-1,
  .image-4 {
    height: 13em;
  }
  .image-2 img {
    height: 9em;
  }
  #colonne-1 .image-2 {
    height: 13em;
  }
  .image-3 {
    height: 13em;
  }
  .image-3 img {
    height: 9em;
  }
  #colonne-2 {
    width: 55%;
    margin-right: -54px;
    margin-top: 5%;
  }
  #colonne-1 .image-3 {
    margin-top: 38px;
    margin-bottom: 10%;
  }
  /* footer*/
  footer {
    flex-direction: column;
    padding-left: 5%;
  }

  footer a {
    margin-right: 56px;
  }

  .assistance {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .footer-1,
  .footer-2,
  .footer-3 {
    margin-top: -3%;
    display: flex;
    flex-direction: column;
  }
  .heberger {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}
.assistance {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-top: 5%;
}

}
@media screen and (min-width: 768px) and (max-width: 1496px) {

  #header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 39%;
    margin-top: -5%;
}
#header a {
  text-decoration: none;
  padding-top: 42%;
  width: 131%;
  display: inline-block;
  padding-left: 42%;
}
.hebergement a {
  color: #0065fc;
  border-top: 2px solid #0065f2;
}
.logo {
  width: 15%;
  margin-left: 3.1%;
  padding-top: 2%;
}
.map-marker {
  width: 10%;
  height: 48px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}
.align-responsive {
  display: flex;
  flex-wrap: wrap;
}
#economique {
  width: 74%;
}
#romantique {
  width: 38%;
}
#familial {
  width: 51%;
}
.champ-city {
  width: 26%;
  height: 42px;
  font-weight: bold;
  padding-left: 1%;
  border: 2px solid #f2f2f2f2;
}
.section-A {
  border-radius: 20px;
  padding-left: 1%;
  padding-right: 2%;
  padding-bottom: 25px;
  width: 60%;
  background-color: #f2f2f2;
  display: flex;
}
.section-B {
  border-radius: 20px;
  padding-left: 6%;
  padding-right: 0%;
  padding-top: 1%;
  width: 29%;
  background-color: #f2f2f2;
}
.six-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5.5em;
}
.six-images a {
  width: 128%;
  height: 37%;
  box-shadow: 2px 2px 12px 2px #9b9898f2;
  border-radius: 16px;
  margin-bottom: -36%;
  background-color: white;
}
.cannebiere {
  margin-left: -104%;
}
.port{
  margin-top: 5%;
}
.assistance {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}
.align-ipad{
  display: flex;
  justify-content: flex-start  ;
}
.align-ipad-2{
  display: flex;
}
.align-ipad-3{
  display: flex ;
}
.actes {
  margin-left: 32%;
}
}

